# Git
.git
.gitattributes

# CI
.codeclimate.yml
.travis.yml
.taskcluster.yml
api_key.txt
catalog_id.txt

# BD
src/vector_store/chroma_db/*
!src/vector_store/chroma_db/*.sqlite3

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Logs
*.log

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# VS Code
.vscode/