TELEGRAM_BOT_TOKEN=your-telegram-bot-token
GIGACHAT_CREDENTIALS=your-gigachat-credentials

ADMIN_ID=""
CHROMA_DB_PATH = "data/retrivial_embeddings/chroma_db/"

GIGACHAT_SCOPE="GIGACHAT_API_PERS"
GIGACHAT_MODEL="GigaChat-Max"
GIGACHAT_VERIFY_SSL_CERTS=False

EMBEDDINGS_CREDENTIALS=your-gigachat-credentials
EMBEDDINGS_MODEL="Embeddings"